<%- include('content/header') -%>
    <div class="center">
      <h1 class="header">You can track your expenses with out system</h1>
      <a href="/users/register"><button class="btn-index">Register</button></a>
      <a href="/users/login"><button class="btn-index">Login</button></a>
    </div>
<%- include('content/footer') -%>
