<%- include('content/header') -%>
<div class="container form center">
    <h2 class="form-header ">Register</h2>
    <form action="" class="form-control">
        <label for="name">Name:-
            <input type="text" name="name" id="name" placeholder="Enter Name">
        </label>
        <label for="username">Username
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </label>
        <label for="email">Email:-
            <input type="email" name="email" id="email" placeholder="Enter Email">
        </label>
    </form>
</div>
<%- include('content/footer') -%>
